---
import Layout from '@/layouts/Layout.astro';
import HappyCustomers from '@/sections/HappyCustomers.astro';
import Hero from '@/sections/Hero.astro';
import Services from '@/sections/Services.astro';
import AboutUs from '@/sections/AboutUs.astro';
import FAQs from '@/sections/FAQs.astro';
import Pricing from '@/sections/Pricing.astro';
import NavBar from '@/sections/NavBar.astro';
import Contact from '@/sections/Contact.astro';
---

<Layout title="Home - AstroMKT">
	<NavBar />
	<main>
		<Hero />
		<Services />
		<AboutUs />
		<Pricing />
		<HappyCustomers />
		<FAQs />
		<!-- <Contact /> -->

		
		
	</main>

</Layout>