<section class="bg-#f4f7fc animate-blurred-fade-in pt-20" id="Nosotros">
  <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 md:py-16 lg:px-8">
    <div class="mx-auto max-w-3xl text-center">
      <h2 class="text-center mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-slate-400">Sobre nosotros</h2>

      <p class="mt-4 text-gray-500 sm:text-xl">
        Somos un equipo apasionado de profesionales en marketing digital comprometidos con el éxito de nuestros clientes.
      </p>
    </div>


    <div class="mt-8 sm:mt-12">
      <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3">
        <div class="flex flex-col rounded-lg bg-orange-500 px-4 py-8 text-center">
          <dt class="order-last text-lg font-medium text-white">Clientes Satisfechos</dt>

          <dd class="text-4xl font-extrabold text-white md:text-5xl ">+20</dd>
        </div>

        <div class="flex flex-col rounded-lg bg-primary-600 px-4 py-8 text-center">
          <dt class="order-last text-lg font-medium text-white">Proyectos Activos</dt>

          <dd class="text-4xl font-extrabold text-white md:text-5xl">8</dd>  
        </div>

        <div class="flex flex-col rounded-lg bg-yellow-400 px-4 py-8 text-center text-white">
          <dt class="order-last text-lg font-medium">Años de Experiencia</dt>

          <dd class="text-4xl font-extrabold md:text-5xl">4</dd>
        </div>
      </dl>
    </div>

    <!-- <div class="mt-8 sm:mt-12">
      <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3">
        <div class="flex flex-col rounded-lg bg-blue-50 px-4 py-8 text-center">
          <dt class="order-last text-lg font-medium text-gray-500">Total Sales</dt>

          <dd class="text-4xl font-extrabold text-orange-500 md:text-5xl">$4.8m</dd>
        </div>

        <div class="flex flex-col rounded-lg bg-blue-50 px-4 py-8 text-center">
          <dt class="order-last text-lg font-medium text-gray-500">Official Addons</dt>

          <dd class="text-4xl font-extrabold text-pink-600 md:text-5xl">24</dd>
        </div>

        <div class="flex flex-col rounded-lg bg-blue-50 px-4 py-8 text-center">
          <dt class="order-last text-lg font-medium text-gray-500">Total Addons</dt>

          <dd class="text-4xl font-extrabold text-yellow-400 md:text-5xl">86</dd>
        </div>
      </dl>
    </div> -->


  </div>
</section>