---
import WhatsappIcon from "@/components/WhatsappIcon.astro";
---

<section class= "dark:bg-gray-900 animate-blurred-fade-in" id="FAQs">
    <div class="container px-6 py-12 mx-auto">
        <h1 class="text-center mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-slate-400">Preguntas frecuentes</h1>

        <div class="grid grid-cols-1 gap-8 mt-8 lg:mt-16 md:grid-cols-2 xl:grid-cols-3">
            <div>
                <div class="inline-block p-3 text-white bg-orange-500 rounded-lg mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold text-gray-700 dark:text-slate-400">¿Cómo funciona el proceso de trabajo con su agencia?</h1>

                    <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
                        Nuestro proceso de trabajo comienza con una consulta inicial para comprender las metas y necesidades de tu empresa. Luego, desarrollamos una estrategia personalizada y establecemos hitos claros para el proyecto. Durante todo el proceso, mantendremos una comunicación abierta y transparente para garantizar que estés informado y satisfecho con nuestros servicios.
                    </p>
                </div>
            </div>

            <div>
                <div class="inline-block p-3 text-white bg-orange-500 rounded-lg mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold text-gray-700 dark:text-slate-400">¿Qué diferencia a su agencia de marketing de la competencia?</h1>

                    <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
                        Lo que nos distingue es nuestro enfoque centrado en el cliente, nuestra experiencia y nuestro compromiso con la excelencia. Nos esforzamos por ofrecer un servicio personalizado y resultados sobresalientes que impulsen el éxito de nuestros clientes a largo plazo.
                    </p>
                </div>
            </div>

            <div>
                <div class="inline-block p-3 text-white bg-orange-500 rounded-lg mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold text-gray-700 dark:text-slate-400">¿Cuál es su política de privacidad y protección de datos?</h1>

                    <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
                        Nos tomamos muy en serio la privacidad y seguridad de los datos de nuestros clientes. Cumplimos con todas las regulaciones de protección de datos y tenemos medidas de seguridad en lugar para proteger la información confidencial de nuestros clientes.
                    </p>
                </div>
            </div>

            <div>
                <div class="inline-block p-3 text-white bg-orange-500 rounded-lg mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold text-gray-700 dark:text-slate-400">¿Cómo puedo contactar a su equipo para solicitar una consulta?</h1>

                    <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
                        Puedes contactarnos fácilmente a través de nuestro correo electrónico o por <a href="" class="text-green-500 font-bold">Whatsapp <WhatsappIcon/></a>. Estamos disponibles para responder tus preguntas y programar una consulta según tu conveniencia.
                    </p>
                </div>
            </div>

            <div>
                <div class="inline-block p-3 text-white bg-orange-500 rounded-lg mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold text-gray-700 dark:text-slate-400">¿Tienen experiencia trabajando con empresas de mi tamaño?</h1>

                    <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
                        Sí, tenemos experiencia trabajando con empresas de todos los tamaños, desde startups y pymes hasta grandes corporaciones. Nos adaptamos a las necesidades y presupuestos de cada cliente para proporcionar soluciones efectivas y personalizadas.
                    </p>
                </div>
            </div>

            <div>
                <div class="inline-block p-3 text-white bg-orange-500 rounded-lg mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div>
                    <h1 class="text-xl font-semibold text-gray-700 dark:text-slate-400">¿Ofrecen algún tipo de garantía o reembolso?</h1>

                    <p class="mt-2 text-sm text-gray-500 dark:text-gray-300">
                        Nos esforzamos por garantizar la satisfacción de nuestros clientes en cada proyecto. Si por alguna razón no estás completamente satisfecho con nuestros servicios, trabajaremos contigo para encontrar una solución satisfactoria.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>