---
import '@fontsource-variable/jost';
import Footer from '@/sections/Footer.astro';
import '@fontsource/poppins';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="TODO" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="dark:bg-gray-900">

		<div class="max-w-6xl px-10 pt-5 mx-auto">
			<slot />
		</div>
		<Footer />
	</body>
</html>

<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #f4f7fc;
		/* DarkMode: rgb(17 24 39) */
	}
	svg{
		display: inline-block;
	}
</style>
